@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --deafault-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    margin: auto;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

h1{
    font-family: "Playfair Display", sans-serif;
    font-size: 4rem;
}

.blue-decoration{
    background-color: #0891B2;
    width: 200%;
    height: 600px;
    position: absolute;
    top: -400px;
    left: -200px;
    box-shadow: var(--deafault-shadow);
    transform: rotateZ(-10deg);
}

.about-me-container{
    position: relative;
    max-width: 1250px;
    min-height: max(500px, auto);
    background-color: white;
    box-shadow: var(--deafault-shadow);
    margin: 150px;
}

.portrait{
    max-height: 500px;
    transform: scale(1.3);
    box-shadow: var(--deafault-shadow);
    float: left;
    shape-outside: margin-box;
    margin-right: 70px;
    margin-bottom: 58px;
}

.socials{
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: auto;
    align-items:flex-end;
    gap: 20px;
    margin: 25px;
}

i{
    font-size: 35px;
}

.about-me-container > h1, .about-me-container > p{
    margin: 50px;
    line-height: 35px;
}

.name{
    position: absolute;
    top: 450px;
    color:white;
    left: -55px;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.35);
    font-size: 5rem;
    margin-bottom: 100px;
}

.work{
    margin: none !important;
    width: 100%;
    text-align: center;
}

.work-container{
    z-index: 1;
    width: calc(100% - 300px);
    height: auto;
    margin-bottom: 100px;
}

.projects-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
}

.project{
    width: 400px;
    height: 450px;
    box-shadow: var(--deafault-shadow);
    position: relative;
}

.screenshot{
    width: 100%;
    height: 250px;
    background-color: green;
    display: flex;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.color1{
    background-color: #9E1C1C;
}

.color2{
    background-color: #7C75CA;
}

.color3{
    background-color: #C363B4;
}

.color4{
    background-color: #D88F39;
}

.color5{
    background-color: #4692D9;
}

.color6{
    background-color: #5E8F4D;
}

.project > h2{
    font-size: 2.5rem;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.project > p{
    font-size: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.project > i{
    position: absolute;
    right: 50px;
    margin: 10px;
}

.project > svg{
    width: 40px;
    position: absolute;
    margin: 9px;
    right: 0;
}

footer{
    height: auto;
    background-color: #0891B2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.contact-container{
    height: 500px;
    width: 40%;
    margin-left: 100px;
    margin-right: 50px;
    color: white;
}

.footer-img{
    background-image: url('images/footer-img.jpg');
    width: 500px;
    background-position: center;
    background-size: cover;
    margin-right: 50px;
}

.container > svg{
    width: 40px;
    min-width: 40px;
    filter: invert(1);
}

.container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-container > .socials{
    margin-top: 50px;
    justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
    .work-container{
        width: calc(100% - 150px);
    }
    .footer-img{
        max-width: 250px;
        background-position-x: 65%;
        margin-right: 0;
    }
    
    footer{
        justify-content: space-evenly;
    }

    .contact-container{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .name{
        top: -47px;
        left: 200px;
        margin: 0px !important;
        text-wrap: nowrap;
    }
    .portrait{
        max-height: 350px;
    }
    .about-me-container{
        margin: 100px;
    }
    h1{
        font-size: 4rem !important;
    }
}

@media screen and (max-width: 695px) {
    .name{ 
        position: static !important;
        margin: 0px !important;
        text-wrap: nowrap;
        font-size: 4.5rem !important;
        text-wrap: wrap;
        z-index: 1;
    }
    .portrait{
        float: none;
        margin: 0px !important;
        position: absolute;
        max-height: 400px;
        top: -400px;
    }
    .about-me-container{
        margin: 500px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }

    p{
        margin-top: 0 !important;
    }

    .work-container{
        width: calc(100% - 75px);
        position: relative;
        top: -500px;
    }

    .project{
        width: 350px;
        height: 385px;
        background-color: antiquewhite;
    }

    footer{
        height: auto;
        align-items: center;
        flex-direction: column;
        margin-top: -500px;
    }
    
    .footer-img{
        min-width: 300px !important;
        height: 500px !important;
        background-position-x: 65%;
    }
    .container > svg
    {
        display: none;
    }

    .contact-container > .socials{
        justify-content: center;
    }

    .contact-container{
        width: 80%;
        text-align: center;
    }

    .container > p{
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
    .name{
        margin-top: -50px !important;
        font-size: 4rem !important;
    }

    .portrait{
        max-height: 350px;
    }
}
